@import "tailwindcss";

@font-face {
  font-family: "Virgil";
  src: url("/assets/fonts/Virgil.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-beige: #fceccd;
  --color-light-brown: #794e3c;
  --color-cocoa: #412426;
  --color-orange: #da5444;
  --color-orange-hover: #c14435;
  --color-cocoa-hover: #2f1a13;
}
